@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@200;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "poppins", sans-serif;
}
.nav-section{
    width:85%;
    margin: auto;
    color:#3A3A3A;
    
}
header{
    display:grid;
    grid-template-columns: 65% 35%;
    padding-top:50px;
}
.logo-name h3{
    font-weight: 700;
    font-size:24px;
}
.navbar ul{
    display:flex;
    
}
.navbar ul li{
    margin-right: 20px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-weight:600;
    font-size: 16px;
    color:#3A3A3A;
}
.navbar ul li a i{
    font-size:24px;
    font-weight:600;
}